/* Sets all the text color to red! */
.external-link::after {
	display: none !important;
	background-image: none !important;
	content: "" !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}